<div class="col md-4 mx-auto">
    <div class="card">
        <card class="header">
            <h3>Edit Guia</h3>
        </card>
        <div class="card body">
            <form action="/guias/edit/someid">
                <div class="form-group">
                    <input type="text" name="titulo" class="form-congtrol" value="{{guia.titulo}}">
                </div>
                <div class="form-group">
                    <textarea name="descripccion" class="form-control">{{guia.descripccion}}</textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                            Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>