<!DOCTYPE html>
<html>

<head>
    <title>Guías Únicas de Laboratorio</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            margin-top: 50px;
        }

        input {
            width: 300px;
            height: 30px;
            margin: 10px;
            padding: 5px;
        }

        .message {
            margin-top: 30px;
            font-style: italic;
        }
    </style>
</head>

<body>
    <h1>GUÍAS ÚNICAS DE LABORATORIO</h1>
    <form action="/guias/new-guia" method="post">
        <div class="form-group">
            <h2>Nombre del Laboratorio</h2>
            <label for="title">
                <input type="text" name="title" placeholder="Ingrese el nomnbre del laboratorio">
            </label>
        </div>
        <div class="form-group">
            <h2>Nombre de la Guía</h2>
            <label for="description">
                <input type="text" name="description" placeholder="Ingrese el nomnbre del laboratorio"
                    class="form-contrl">
            </label>
        </div>
        <div class="form-group">
            <h2>Autor(es)</h2>
            <label for="autor">
                <input type="text" name="autor" placeholder="Ingrese el nomnbre del laboratorio">
            </label>
        </div>
        <div class="form-group">
            <label for="autor1">
                <input type="text" name="autor1" placeholder="Ingrese el nomnbre del laboratorio">
            </label>
        </div>
        <div class="form-group">
            <label for="autor2">
                <input type="text" name="autor2" placeholder="Ingrese el nomnbre del laboratorio">
            </label>
        </div>
        <div class="form-group">
            <label for="autor3">
                <input type="text" name="autor3" placeholder="Ingrese el nomnbre del laboratorio">
            </label>
        </div>
        <br>
        <div class="message">
            Universidad de Sucre<br>
            Centro de laboratorios<br>
            Sincelejo-Sucre
        </div>
        <div class="form-group">
            <button class="btn btn-primary " type="submit">
                Guardar
            </button>
        </div>

    </form>

</body>

</html>