{{!--

<body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2>About</h2>
    Adipisicing lorem laudantium fuga excepturi iste earum? Architecto et sint exercitationem nihil voluptatum? Quae
    dolores sint fugiat inventore soluta ad Tenetur minima odit qui fugit eveniet minima? Repellat nobis harum quia
    placeat eveniet fugit voluptatem Pariatur maiores molestiae est quas.
  </div>

</div>
<!-- ./wrapper -->