<!DOCTYPE html>
<html>

<head>
  <title>Guías Únicas de Laboratorio</title>
  <style>
    body {
      text-align: center;
    }

    h1 {
      margin-top: 50px;
    }

    input {
      width: 300px;
      height: 30px;
      margin: 10px;
      padding: 5px;
    }

    .message {
      margin-top: 30px;
      font-style: italic;
    }
  </style>
</head>

<body>
  <h1>BIENVENIDO A LA GUÍAS ÚNICAS DE LABORATORIO</h1>
  <div class="class-group">
    Iniciar sesión como estudiante:
    En nuestra universidad, ofrecemos a nuestros estudiantes una plataforma en línea segura y fácil de usar para acceder
    a sus cuentas. El proceso de inicio de sesión es sencillo y rápido. Simplemente ingresa tu nombre de usuario y
    contraseña proporcionados por la universidad, y estarás listo para explorar todo lo que tenemos para ofrecerte.
    ¡Prepárate para una experiencia educativa única!
  </div>
  <div class="class-group">
    Guía de laboratorio:
    Nuestra universidad se enorgullece de brindar a los estudiantes una sólida formación práctica en nuestros
    laboratorios de vanguardia. Para facilitar tu experiencia en el laboratorio, hemos creado una guía exhaustiva que te
    ayudará a familiarizarte con los procedimientos, normas de seguridad y equipo utilizado en cada uno de nuestros
    laboratorios. La guía de laboratorio está diseñada para garantizar que obtengas el máximo provecho de tus prácticas
    y te sientas cómodo trabajando en un entorno seguro y propicio para el aprendizaje.
  </div>
</body>

</html>