{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

<h2>El software</h2>
Texto aqui

</div>
<!-- ./wrapper -->




